body {
  background-color: #f8f9fa;

}

.login-form {
  background-color: rgb(214, 221, 230);
  padding: 10px 10px 10px 10px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 7px -4px rgba(0, 0, 0, 0.2);
  border: 1px solid #d3d3d3;

  color: #222;
}

.hint-text {
  color: #777;
  font-style: italic;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}


.navbar {
  background-color: #222;
  padding: 0px 0px 0px 0px;
  box-shadow: 0 10px 7px -4px rgba(0, 0, 0, 0.2);
  border: 1px solid #d3d3d3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 50px;
}

.avatar-box {
  position: absolute;
  top: 0px;
  right: 10px;
  transform: translateY(10px);
  background-color: #ffffff;
  box-shadow: 0 10px 7px -4px rgba(0, 0, 0, 0.2);

  border: 1px solid #d3d3d3;
  color: #222;
  float: right;
  width: 65px;
  height: 65px;
  border-radius: 7px 7px 7px 7px;

  background-size: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

.avatar-box:hover {

  transform: scale(1.07) translateY(7px);
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.2);
}

.avatar-box .logout-link {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 75%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 0 7px 7px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.avatar-box:hover .logout-link {
  opacity: 1;
}

.navlinks-div {
  margin-left: 20px;
  padding: 3px 40px 3px 3px;
  display: flex;
  justify-content: space-between;
  width: 30%;
  color: #fff;
  border-right: rgba(255, 255, 255, 0.3) 1px solid;
  height: 42.5px;
}

.navlinks-div a {
  color: #ffffff;
  box-sizing: border-box;
}

.navlinks-div .active {
  box-sizing: border-box;
  border-bottom: 4px solid #ffffff;
}

.bucket-head {
  border-bottom: 1px solid #444;
  text-align: center;
  background-color: rgb(34, 34, 34);
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-weight: 300;
  font-size: 75%;
}

.bucket-head h2 {
  font-weight: 300;
}

.bucket-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

}

.bucket-col {
  flex: 0 0 32%;
  max-width: 32%;
  margin: 0.6665%
}

.question-bucket {
  border: 1px solid #444;
  margin: 7px 7px 7px 7px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 10px 7px -4px rgba(0, 0, 0, 0.2);

}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Full height of the parent */
  width: 100%;
  /* Full width of the parent */
  min-height: 100px;
}

.question {
  padding: 10px 10px 10px 10px;
  border: 1px solid #444;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 10px 7px -4px rgba(0, 0, 0, 0.2);
}

.justify-center {
  display: flex;
  justify-content: center;
}

.detail-text {
  color: #777;
  font-style: italic;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
}

.question-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;

}

.author-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 10px;
}

.answer-button {
  width: 100%;
}

.results-div {
  padding: 10px 10px 10px 10px;
  border: #444 1px solid;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 10px 7px -4px rgba(0, 0, 0, 0.2);
}

.results-div > .title {
  text-align: center;
  border-bottom: #444 1px solid;
  border-radius: 5px 5px 0 0;
}

.results-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.results-details {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 10px 10px 10px 10px;
}
.results-chart{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
}
